<div class="title-container">
    <h1>About</h1>
</div>
<div class="grid-container">
    <div class="item-1">
        <h1>
            Share My Day - Overview
        </h1>
        <p>
            Share My Day is a project focused on developing a mobile application allowing children who are unable to
            speak, the opportunity to have a voice. <br><br>
            The project is centred around creating a story about a child's day at school. Through the use of sensors,
            voice recordings and pictures about their day, a story can be created.<br><br>
            The project aims to create an Android application in which a child, their parent and their teacher can use.
            <br><br>
            Briefly, the project will use Near Field Communication (NFC) cards as sensors. NFC cards are used to
            transfer data between a device. It has many applicable uses, most commonly used for contactless card
            payments. <br><br>
            Teachers will be able to create voice recordings to allow a in-depth description and further comments on
            events as they happen. Furthermore, it is hoped that they will also be able to take pictures of the event,
            allowing the story to be even more personal.<br><br>
            The children will be able to rate a story good or bad, giving them a choice at what story should be
            included. When requested, the child will be able to have the story read out, allowing them to have an
            answer to the question: "How Was School Today?"
        </p>
    </div>
    <div class="picture-1"><img class="picture-1" src="../../images/child-laughter.jpg" alt="Child and Dad laughing"></div>
    <div class="item-2">
        <h1>
            Share My Day - Details
        </h1>
        <p>
            "How Was School Today?..." 10 Years On is a final year project undertaken by Jay Bennett. He is supervised
            by Norman Alm, Rolf Black
            and Chris Norrie, all of which are experts in the field of assistive technology.
            The project is based from the original project "How Was School Today?...". Since the original
            project was initialised in 2009, technology has come on a long way since then. Now with the rise and
            development of smartphones, it seems sensible to bring the project to the mobile platforms. In order to
            make the application identifiable, the name "Share My Day" was adopted.
            <br><br>
            The project will use an Android Smartphone with a large screen to allow ease of use. It is vital that the
            system is designed for the users. With the challenges of designing such an
            application, a user focused approach will be taken.<br><br>
            This involves research into who will use the application, as well as first-hand experience with the users
            themselves. It has been discovered that children with complex communication needs and their teachers will
            be
            the primary users of the application. The child's parent or carer will also be able to use the application
            if desired.<br><br>
            By interacting with all the users, I will be able to understand their different needs and capabilities.
            This
            in return will allow me to create an application that will be more suited to the user’s needs, therefore
            making it useable. If the application is unusable then no one will want to use it.
            <br><br>
            Teachers will be able to create voice recordings to allow an in-depth description and further comments on
            events as they happen. Furthermore, it is hoped that they will also be able to take pictures of the event,
            allowing the story to be even more personal. <br><br>
            The sensors used in this project are Near Field Communication (NFC) cards. They are used to transfer a
            small amount of information such as a phrase or a word. In this project, it is hoped that these will be
            used to record what the child has done. For example, if they are making cakes in Home Economics, they would
            place the Home Economics card and the cake card on the back of the phone to record the event.
        </p>
    </div>
    <div class="picture-2"><img class="picture-2" src="../../images/phone.jpg" alt="Moto Z mobile phone with pen for scale"
            title="Moto Z mobile phone with pen for scale"></div>
    <div class="item-3">
        <h1>
            Share My Day - Project Schedule
        </h1>
        <p>
            In order for the project to be a success, several deadlines and goals have been set.
            <br><br>
            The table below details the task, its deadline and whether it has already been completed.<br><br>
            <table class="deadline-table-container">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Deadline</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Research</td>
                        <td>30th April 2019</td>
                        <td>Ongoing</td>
                    </tr>
                    <tr>
                        <td>Ethics</td>
                        <td>9th November 2018</td>
                        <td>Completed and Approved</td>
                    </tr>
                    <tr>
                        <td>Design</td>
                        <td>1st February 2019</td>
                        <td>On-going</td>
                    </tr>
                    <tr>
                        <td>Implementation</td>
                        <td>22nd March 2019</td>
                        <td>To start</td>
                    </tr>
                    <tr>
                        <td>Mid-Project Report</td>
                        <td>25th January 2019</td>
                        <td>On-going</td>
                    </tr>
                    <tr>
                        <td>Testing</td>
                        <td>29th March 2019</td>
                        <td>To-start</td>
                    </tr>
                    <tr>
                        <td>Complete Portfolio</td>
                        <td>30th April 2019</td>
                        <td>On-going</td>
                    </tr>
                </tbody>
                </tr>
            </table>
        </p>
    </div>
    <div class="item-4">
        <h1>
            Share My Day - The Story So Far
        </h1>
        <p>
            In order for the project to be a success, several deadlines and goals have been set.
            <br><br>
            First, ethical approval from the University of Dundee was required. After the submission of the ethical
            materials, ethical approval for the project was granted. <br><br>
            Next, approval from Dundee City Council to carry out research in schools was required. This also required a
            PVG certificate. After receiving my PVG and completing the application for Dundee City Council, I was given
            permission for the project to go ahead. <br><br>
            The next step is to visit Kingspark School. Here I will meet the staff and children. This will allow me to
            understand both of the user's capabilities and be able to create an experience that is easy and intuitive
            enough for them to use.
            <br><br>
            After this, designs will be created and reviewed to ensure they are fit for purpose. Next the
            implementation of the application will occur, following the designs created. Finally, the application will
            be tested, hopefully by participants within the school.
        </p>
    </div>
</div>