<div class="title-container">
    <h1>Contact Us</h1>
</div>
<div class="tag-container">
    <p>If you would like to get in touch, check out the details below:</p>
</div>
<div class="grid-container">
    <div class="item-1">
        <h1>
            Jay Bennett
        </h1>
        <img class="picture-container" src="../../images/Jay.jpg" alt="Jay Bennett photograph">
        <p>
            Jay Bennett is a 4th year student at the University of Dundee and is the student carrying out the project.
            <br><br>
            Email: jsbennett@dundee.ac.uk
            <br><br>
            Address: <br>Queen Mother Building<br>
            University of Dundee<br>
            Balfour Street (Park Wynd) <br>
            Dundee DD1 4HB
        </p>
    </div>
    <div class="item-2">
        <h1>
            Norman Alm
        </h1>
        <img class="picture-container" src="../../images/avatar.png" alt="Norman Alm photograph">
        <p>
            Norman Alm is the Academic Supervisor for the project and is an Honorary Research Fellow at the University
            of Dundee. <br><br>
            Email: n.a.alm@dundee.ac.uk
            <br><br>
            Address: <br>Queen Mother Building<br>
            University of Dundee<br>
            Balfour Street (Park Wynd) <br>
            Dundee DD1 4HB
        </p>
    </div>
    <div class="item-3">
        <h1>
            Rolf Black
        </h1>
        <img class="picture-container" src="../../images/avatar.png" alt="Rolf Black photograph">
        <p>
            Rolf Black is the Research Supervisor for the project and was one of the researchers on the original "How
            Was School Today?..." project.<br><br>
            Email: r.black@dundee.ac.uk
            <br><br>
            Address: <br>Queen Mother Building<br>
            University of Dundee<br>
            Balfour Street (Park Wynd) <br>
            Dundee DD1 4HB
        </p>
    </div>
    <div class="item-4">
        <h1>
            Christopher Norrie
        </h1>
        <img class="picture-container" src="../../images/avatar.png" alt="Christopher Norrie photograph">
        <p>
            Chris Norrie is the Research Supervisor for the project and is currently a PhD Student at the University of
            Dundee.<br><br>
            Email: c.s.norrie@dundee.ac.uk
            <br><br>
            Address: <br>Queen Mother Building<br>
            University of Dundee<br>
            Balfour Street (Park Wynd) <br>
            Dundee DD1 4HB
        </p>
    </div>
    <div class="item-5">
        <h1>
            Annalu Waller
        </h1>
        <img class="picture-container" src="../../images/avatar.png" alt="Annalu Waller photograph">
        <p>
            Annalu Waller is the is the Interim Dean of the School of Science and Engineering the University of Dundee
            and was one of the researchers on the original "How
            Was School Today?..." project.<br><br>
            Email: a.waller@dundee.ac.uk
            <br><br>
            Address: <br>Queen Mother Building<br>
            University of Dundee<br>
            Balfour Street (Park Wynd) <br>
            Dundee DD1 4HB
        </p>
    </div>
</div>