<div class="grid-container">
    <div class="item-1"><img class="item-1" src="../../images/child-book.jpg" alt="Child reading a book"></div>
    <div class="item-2">
        <h1>
            Share My Day
        </h1>
        <p>
            Share My Day is a project focused on giving a voice to those who are unable to speak. <br>
            The project is centered around creating a story about a child's day at school.
        </p>
    </div>
    <div class="item-3">
        <h1>
            "How Was School Today?..."
        </h1>
        <p>
            Share My Day is a project focused on giving a voice to those who are unable to speak. <br>
            The project is centered around creating a story about a child's day at school.
        </p>
    </div>
    <div class="item-4"><img class="item-4" src="../../images/child-laughter.jpg" alt="Child and Dad laughing"></div>
</div>