<div class="grid-container">
    <div class="item-1"><img class="item-1" src="../../images/child-book.jpg" alt="Child reading a book"></div>
    <div class="item-2">
        <h1>
            Share My Day
        </h1>
        <p>
            Share My Day is a project focused on developing a mobile application allowing children who are unable to
            speak the opportunity to have a voice. <br><br>
            The project is centred around creating a story about a child's day at school. Through the use of sensors,
            voice recordings and pictures about their day, a story can be created.<br><br>
            The project aims to create an Android application in which a child, their parent and their teacher can use.
            <br><br>
            Briefly, the project will use Near Field Communication (NFC) cards as sensors. NFC cards are used to
            transfer data between a device. It has many applicable uses, most commonly used for contactless card
            payments. <br><br>
            Teachers will be able to create voice recordings to allow a in-depth description and further comments on
            events as they happen. Furthermore, it is hoped that they will also be able to take pictures of the event,
            allowing the story to be even more personal.<br>
            <div class="link-text-container">
                <p>If you would like to read more about the project, <a href="/about">click here</a> to go
                    to the About page.</p>
            </div>
        </p>
    </div>
    <div class="item-3">
        <h1>
            "How Was School Today?..."
        </h1>
        <p>
            Share My Day is based on another project called "How Was School Today?"<br><br>
            The project award winning project is centred around creating a story about a child's day at school.
            Realised in 2009, researchers from the University of Dundee and the University of Aberdeen found that there
            were inadequate systems for conversations with children with complex communication needs.<br><br> This new
            system
            however utilised the latest technology at the time, allowing the creation of a story about a child's day.
            They used Natural Language Generation (NLG), which creates sentences from data, and radio-frequency
            identification (RFID) swipe cards to record information about the child's day. This required clunky
            specialist equipment to record the information on the swipe cards. <br></br>
            This system was successful in allowing children with complex communication needs to finally to have a
            conversation about their day. Variations of the system included a companion mobile
            application, giving teachers the ability to create voice recordings and take pictures.<br><br>
            Now with the rise and development of smartphones, the specialist equipment is now embedded within the phone
            itself. Also, with the camera and recoring capabilities, it is now feasible for the features of the
            original
            "How Was School Today?" project and the mobile phone variant to be combined into a single smartphone
            application. <br><br>
            If you would like to read more about the original "How Was School Today?" project, <a href="https://aac.dundee.ac.uk/how-was-school-today/">click
                here</a> to go to their dedicated website.
        </p>
    </div>
    <div class="item-4">
        <h1>
            "How Was School Today?..."
        </h1>
        <p>
            Share My Day is based on another project called "How Was School Today?..."<br>
            The project is centered around creating a story about a child's day at school.
        </p>
    </div>
    <div class="item-4"><img class="item-4" src="../../images/child-laughter.jpg" alt="Child and Dad laughing"></div>
</div>