<div class="nav-bar-components-container">
    <div class="logo-container">
        <a href="/"><img class="image" src="../../images/logo.png" alt="Share My Day"></a>
    </div>
    <div class="menu-option-container">
        <a href="/about"><span class="about-span">About</span></a>
        <a href="/contact-us"><span class="contact-us-span">Contact Us</span></a>
        <a href="/"><span class="faq-span">FAQs</span></a>
    </div>
</div>