<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>Share My Day: Contact Us</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/navbar.css' />
    <link rel='stylesheet' href='/css/contact-us-contents.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<main>

    <body>
        <div class="body-container">
            <div class="nav-bar-container">
                <% include partials/navbar.ejs %>
            </div>
            <div class="contents-container">
                <% include partials/contact-us-contents.ejs %>
            </div>
        </div>
    </body>
</main>

</html>