.title-container {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    color: #01396D;
}

.grid-container {
    display: grid;
    grid-template: repeat(3, [row] minmax(120px, 1fr)) / repeat(5, [col] 1fr);
    grid-gap: 5px;
}

.item-1,
.item-2,
.item-3,
.item-4,
.picture-1 {
    align-items: center;
    justify-items: center;
    font-family: 'Overpass', sans-serif;
    line-height: 1;
    color: white;
}

.item-1,
.item-2,
.item-3,
.item-4 {
    text-align: center;
}

.item-1 h1,
.item-2 h1,
.item-3 h1,
.item-4 h1 {
    font-size: 300%;
}

.item-1 p,
.item-2 p,
.item-3 p,
.item-4 p {
    padding: 20px;
    font-size: 200%;
}

.item-1 a,
.item-2 a,
.item-3 a,
.item-4 a {
    color: white;
    font-weight: bold;
}

.item-1 a:hover,
.item-2 a:hover,
.item-3 a:hover,
.item-4 a:hover {
    color: red;
}

.item-1 {
    grid-column: col 1 /span 3;
    grid-row: row 1 / span 1;
    background: #01396D;
    opacity: 0.8;
}

.item-2 {
    grid-column: col 3 /span 3;
    grid-row: row 2 / span 1;
    background: #01396D;
    opacity: 0.8;
}

.item-3 {
    grid-column: col 1/span 3;
    grid-row: row 3 / span 1;
    background: #01396D;
    z-index: 1;
    opacity: 0.8;
}

.item-4 {
    grid-column: col 4 / span 2;
    grid-row: row 3 / span 1;
    background: #01396D;
    opacity: 0.8;
}

.picture-1 {
    grid-column: col 4 / span 2;
    grid-row: row 1/ span 1;
    background: #f2f9fc;
}

.picture-2 {
    grid-column: col 1 / span 2;
    grid-row: row 2/ span 1;
    background: #f2f9fc;
}

.picture-1 img,
.picture-2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

table.deadline-table-container {
    border: 2px solid #AAAAAA;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table.deadline-table-container td,
table.deadline-table-container th {
    border: 2px solid #AAAAAA;
    padding: 3px 2px;
}

table.deadline-table-container tbody td {
    font-size: 35px;
}

table.deadline-table-container thead th {
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

table.deadline-table-container thead th:first-child {
    border-left: none;
}

@media screen and (max-width: 1223px) {
    .grid-container {
        display: grid;
        grid-template: repeat(4, [row] minmax(120px, 1fr)) / repeat(2, [col] 1fr);
        grid-gap: 5px;
    }

    .item-1 {
        grid-column: col 1 /span 2;
        grid-row: row 1 / span 1;
        background: #01396D;
        opacity: 0.8;
    }

    .item-2 {
        grid-column: col 1 /span 2;
        grid-row: row 2 / span 1;
        background: #01396D;
        opacity: 0.8;
    }

    .item-3 {
        grid-column: col 1 /span 2;
        grid-row: row 3 / span 1;
        background: #01396D;
        opacity: 0.8;
    }

    .item-4 {
        grid-column: col 1 /span 2;
        grid-row: row 4 / span 1;
        background: #01396D;
        opacity: 0.8;
    }

    .picture-2 {
        display: none;
    }

    .picture-1 {
        display: none;
    }

    table.deadline-table-container tbody td {
        font-size: 15px;
    }

    table.deadline-table-container thead th {
        font-size: 20px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
    }

}