.nav-bar-compontents-container {
    display: table;
}

.menu-option-container {
    padding: 0 40px;
    font-size: 35px;
    display: table-cell;
    vertical-align: middle;
}

.logo-container {
    padding: 0 20px;
    padding-bottom: 20px;
    display: table-cell;
    vertical-align: middle;
}

.about-span {
    border-right: 3px solid #01396D;
}

.about-span,
.contact-us-span,
.faq-span {
    padding: 0 20px;
}

@media screen and (max-width: 1223px) {
    .nav-bar-compontents-container {
        display: inline-block;
    }

    .logo-container img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        max-height: 80%;
    }

    .logo-container {
        display: inline-block;
    }

    .menu-option-container {
        display: inline-block;
        font-size: 30px;
        padding: 10px;
    }
}